html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  font-family: 'TT Lakes', sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-align: left;
  background-color: #F8F8F8;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 88px;
  width: 100%;
  padding: 0 16px;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  border-bottom: 1px solid #D9FFF5;
  background-color: #FFFFFF;
}

.header__item {
  margin: 10px 5px 10px 10px;
  padding: 0;
}

.header__item-menu {
  margin-left: 0;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}

.header__item-logo {
  width: 96px;
  height: 51px;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 24px;
  height: 40px;
}

.title__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  justify-self: start;
  -ms-flex-item-align: start;
  align-self: start;
  height: 40px;
  line-height: 40px;
  margin-bottom: 24px;
}

.title__text {
  font-weight: bold;
  font-size: 28px;
  padding: 0;
  margin: 0;
}

.highlight {
  margin: 0 12px 0 0;
  padding: 0;
  width: 4px;
  height: 40px;
  background-color: #41F6D7;
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 40px;
  margin: 24px 0px 24px 16px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  overflow-x: scroll;
  scrollbar-width: none;
  /* hiding scrollbar on firefox 64*/
  color: #7E7E82;
  font-weight: 500;
  font-size: inherit;
  list-style-type: none;
  white-space: nowrap;
}

.list::-webkit-scrollbar {
  display: none;
}

.list__link {
  width: 246px;
  padding: 8px 15px;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
}

.list__link:active,
.list__link:hover,
.list__link:link,
.list__link:visited {
  text-decoration: none;
  color: #7E7E82;
}

.list__link--current {
  text-decoration: none;
  border: 2px solid #B8FFEC;
  background-color: #FFFFFF;
  border-radius: 6px;
}

.btn--round {
  background: transparent;
  border: transparent;
}

.header__splitter {
  margin: auto 0;
  height: 30px;
  border: 1px solid #EAEAEA;
}

.contents {
  display: inline-block;
  height: 322px;
}

.text {
  margin: 0 16px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
}

.text__p {
  margin-top: 0;
}

.contents__image {
  margin: 0;
  width: 100vw;
}

.text__read-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 16px 0;
  width: 132px;
  height: 24px;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  white-space: nowrap;
}

.text--mid-bold {
  font-weight: 500;
}

.read-more__text {
  margin-left: 8px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
}

.read-more__symbol {
  height: 24px;
}

.pc-view,
.mid-view {
  display: none;
}

@media (min-width: 768px) and (max-width: 1119px) {
  .mobile-view {
    display: none;
  }

  .mid-view {
    display: initial;
  }

  .header {
    padding: 0 24px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .header__wrapper {
    width: auto;
  }

  .header__wrapper {
    width: 20%;
  }

  .header__wrapper:last-child {
    width: 40%;
  }

  .contents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 35px;
    line-height: 20px;
  }

  .list {
    margin-left: 24px;
  }

  .contents__image {
    height: 208px;
    width: 360px;
    margin-left: 24px;
  }

  .text {
    margin-top: 0;
    padding-top: 0;
    vertical-align: top;
    line-height: 20px;
  }
}

@media (min-width: 1120px) {
  .pc-view {
    display: initial;
  }

  main {
    padding: 42px 31px 31px 0;
  }

  .list {
    padding: 0;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: 33px;
  }

  .header {
    display: none;
  }

  .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding-left: 0;
    margin: 0;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .btn__description {
    margin-right: 10px;
  }

  .btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 32px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }

  .title__wrapper:last-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-self: end;
    -ms-flex-item-align: start;
    align-self: start;
  }


  .highlight {
    width: 3px;
    border-radius: 25px;
  }

  .contents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 24px 0 0 35px;
    line-height: 20px;
  }

  .contents__image {
    height: 307px;
    width: 531px;
    margin-left: 24px;
  }

  .text {
    margin-top: 0;
    padding-top: 0;
  }
}
