$color_1: #7e7e82;
$bg_1: #ffffff;
$border_1: #b8ffec;

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  text-wrap: nowrap;
  height: 50px;
  margin: 24px 0px 24px 16px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  overflow-x: scroll;
  scrollbar-width: none;
  color: $color_1;
  font-weight: 500;
  font-size: inherit;
  list-style-type: none;
  white-space: nowrap;
  &::-webkit-scrollbar {
    display: none;
  }
  @media (min-width: 768px) and (max-width: 1023px) {
    margin-left: 24px;
  }
}
.list__link {
  width: 246px;
  padding: 8px 15px;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  &:active {
    text-decoration: none;
    color: $color_1;
  }
  &:hover {
    text-decoration: none;
    color: $color_1;
  }
  &:link {
    text-decoration: none;
    color: $color_1;
  }
  &:visited {
    text-decoration: none;
    color: $color_1;
  }
}
.list__link--current {
  text-decoration: none;
  border: 2px solid $border_1;
  background-color: $bg_1;
  border-radius: 6px;
}
